html,body{height:100%;}




.dropdown-menu {
    background-color: #1a1a1a;
    width: 100%;

}

.dropdown-menu li a {

    color: #8c8c8c;
}


.carousel .item {
    width: 100%;
    max-height: 500px;
}
.carousel .item img {
    width: 100%;
}
.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}
@media (max-width: 767px) {
    .carousel-slide-show {
        margin-left: -20px;
        margin-right: -20px;
    }
}